:root {
  /* Default Theme */
  --ion-color-primary: #3f51b5;
  --ion-color-secondary: #0000;
  --ion-background-color: #f4ebeb; /* Default white background */
}

.theme-dark {
  --ion-color-primary: #222;
  --ion-color-secondary: #ff5722;
  --ion-background-color: #121212; /* Dark background for dark theme */
}

.theme-green {
  --ion-color-primary: #4caf50;
  --ion-color-secondary: #f0fff0;
  --ion-background-color: #ffffff; /* Light green background for green theme */
}

.theme-blue {
  --ion-color-primary: #3f51b5;
  --ion-color-secondary: #e3f2fd;
  --ion-background-color: #ffffff; /* Light blue background for blue theme */
}

/* Ensuring the IonPage background is correctly applied */
ion-page {
  background-color: var(
    --ion-background-color
  ); /* Dynamically uses the theme's background color */
}

/* Optional: For smooth transition when switching themes */
body {
  transition: background-color 0.3s ease;
}
